# OS files
.DS_Store
Thumbs.db

# --- Added for Python ---
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
# ------------------------

# WordPress
wp-content/uploads/
wp-content/upgrade/
wp-content/languages/
wp-content/plugins/
wp-content/themes/*
!wp-content/themes/my-modern-lab/

# Node / Vite
node_modules/
dist/
.env

# Docker
.db_data/
backend/training-app

instance/
backend/instance/
backend/dist/
backend/training-app
